.slideshow-content {
    margin: 5px;
    display: flex;
    flex: 1;
    max-width: 600px;
    justify-self: center;
}

.slideshow-image.slideshow-left {
    width: 20%;
    opacity: 65%;
    padding: 5px;
    max-height: 50vh;
    display: flex;
    transition: all 500ms;
}

.slideshow-image.slideshow-main {
    padding: 5px;
    max-height: 50vh;
    display: flex;
    transition: all 500ms;
    opacity: 100%;
}

.slideshow-image.slideshow-right {
    width: 20%;
    max-height: 50vh;
    opacity: 65%;
    padding: 5px;
    display: flex;
    transition: all 500ms;
}

img {
    max-width: 100%;
    max-height: 50vh;
    height: auto;
    align-self: center;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.empty {
    max-width: 100%;
    height: auto;
    align-self: center;
}

.slideshow-icon {
    text-align: center;
    vertical-align: center;
    display: flex;
    align-items: center;
    z-index: 18;
}

svg {
    transition: all 180ms;
    cursor: pointer;
}

.slideshow-image {
    display: none;
    opacity: 0%;
}